.color0 {
    background-color: #ffffff;
}
.color1 {
    background-color: #D8DBE2;
}
.color2 {
    background-color: #E3170A;
}
.color3 {
    background-color: #FF9505;
}
.color4 {
    background-color: #011936;
}
.color5 {
    background-color: #26516C;
}
.color6 {
    background-color: #000000;;
}